
#jeni{
   color: white; 
   background-color: #3d898d;
   font-size: 50px;
   text-align: left;
   padding: 50px 1280px 50px 80px;
   margin-top: -8px;
   margin-left: -8px;
   position: relative;
   top: 0px;
   left: 0px;
}

.nav{
   min-height: px;
   background-color:  #3d898d;
   display: flex;
   justify-content: space-between;
   
   padding-left: 30px;
   position: relative;
   top: -55px;

}
.nav-list{
   margin: auto 16px;
   padding-left: 0;
}
.nav-item{
   color: white;
   list-style: none;
   margin: 0 10px;
   display: inline-block; 
}
html{
   height: 2000px;
   margin-top: 0px;
}